{% extends "admin/base.html" %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Войти в админку</a></h1>
    {% if user.is_anonymous %}
        {% include "admin/color_theme_toggle.html" %}
    {% endif %}
{% endblock %}
{% block title %}Django linters formatters template{% endblock %}
{% block pretitle %}(роуты){% endblock %}
{% block content_title %}<h1>Шаблон Django приложения</h1>{% endblock %}
{% block content_subtitle %}<h2>Добавленные роуты и сторонние приложения</h2>{% endblock %}
{% block content %}
    <div id="content-main">
        <div class="module">
            <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section" title="Добавленные Роуты шаблона - донора">Добавленные
                        Роуты шаблона - донора</a>
                </caption>
                <tr>
                    <th scope="row">
                        <a href="{% url 'admin:index' %}">{% url 'admin:index' %}</a>
                    </th>
                    <td>Админка</td>
                    <td><a href="https://docs.djangoproject.com/en/4.2/ref/contrib/admin/">django.admin.contrib</a></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="{% url 'django-admindocs-docroot' %}">{% url 'django-admindocs-docroot' %}</a>
                    </th>
                    <td>Самогенерирующаяся дока</td>
                    <td>
                        <a
                            href="https://docs.djangoproject.com/en/4.2/ref/contrib/admin/admindocs/"
                        >
                            django.contrib.admindocs
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/admin/axes/">/admin/axes/</a>
                    </th>
                    <td>Защита от brute-force и ddos</td>
                    <td><a href="https://django-axes.readthedocs.io/en/latest/">axes</a></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/robots.txt">/robots.txt</a>
                    </th>
                    <td>мета информация для поисковиков</td>
                    <td><a href="https://developer.mozilla.org/en-US/docs/Glossary/Robots.txt">MDN docs</a></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/humans.txt">/humans.txt</a>
                    </th>
                    <td>мета информация об авторах/владельцах</td>
                    <td><a href="https://humanstxt.org/">humanstxt.org</a></td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/health/">/health/</a>
                    </th>
                    <td>Проверка работоспособности, выявление проблем</td>
                    <td><a href="https://django-health-check.readthedocs.io/en/latest/">django-health-check</a></td>
                </tr>
                <tr>
                    <th scope="row">
                        DjDT (смотри правый верхний угол сайта)
                    </th>
                    <td>Отладочный туллбар для джанги с кучей интересных метрик</td>
                    <td><a href="https://django-debug-toolbar.readthedocs.io/en/latest/">django-debug-toolbar</a></td>
                </tr>
            </table>
        </div>

        <div class="module">
            <table>
                <caption>
                    <a href="{{ app.app_url }}" class="section" title="Добавленные Роуты">Добавленные Роуты</a>
                </caption>
                <tr>
                    <th scope="row">
                        <a href="{% url "examples:cached" %}">{% url "examples:cached" %}</a>
                    </th>
                    <td>Пример работы кэша кверисетов.
                    </td>
                    <td><a href="{% url "examples:cached" %}">Дока там-же где и пример</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="/admin/redisboard/redisserver/">/admin/redisboard/redisserver/</a>
                    </th>
                    <td>Управление и анализ работы redis в админке. Там сейчас подключено 2 БД redis (Кэш и очередь для
                        celery)
                    </td>
                    <td>
                        <a href="https://django-redisboard.readthedocs.io/en/latest/">
                            django-redisboard
                        </a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="{% url "examples:tasks" %}">{% url "examples:tasks" %}</a>
                    </th>
                    <td>Пример работы асинхронных задач
                    </td>
                    <td><a href="{% url "examples:tasks" %}">Дока там-же где и пример</a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <a href="http://localhost:5555/" target="_blank">http://localhost:5555/</a>
                    </th>
                    <td>Средство администрирования celery</td>
                    <td>
                        <a href="https://flower.readthedocs.io/en/latest/">
                            flower
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
